/*** réglage général retenu pour le designe***/
:root {
    --rouge-principal: #E00000;
    --rouge-secondairee: #FE5858;
    --rouge-tertiaire: #FFD6D6;
    --texte-noir: #000000;
    --bleu-soutenu: #313144;
    --gris-foncé: #C4C4C4;
    --gris-medium: #D8D8D8;
    --gris-light: #E5E5E5;
}
h1{
    font-family: Space Mono;
    font-size: 96px;
    font-style: italic;
    font-weight: 700;
}
h2{
    font-family: Space Mono;
    font-size: 66px;
    font-style: italic;
    font-weight: 400;
    
}
h3{
    font-family: Space Mono;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.descript{
    font-family: Space Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.73px;
    letter-spacing: 0.1em;
    text-align: left;
}
p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    box-sizing: content-box;
}

/*********** Header ***********/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    height: 80px;
    box-shadow: 0 4px 4px 0 #00000008;
}

nav {
    margin-right: 100px;
}

.logo {
    margin-left: 100px;
}

.logo img {
    max-width: 250px;
}

/*********** Menu ***********/


.menu {
    display: flex;
    gap: 50px;
}

.menu li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: black;
    text-decoration: none;
    font-family: 'SpaceMono', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu a:hover {
    font-weight: 700;
}

/*********** Footer ***********/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px black solid;
    width: 100%;
}
/**nodale contact */
/** #nodale tte la nodale
    class Nod-button // pour le bouton nodale*/
.modale {
    display: none;
    position: fixed;
    left: 30%;
    top: 14%;
    max-width:60% ;
    height: 100%;
    z-index: 99;
    }
#modale{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 2px;
}
.mod-button{
    display: flex;

}
.modHeader{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    max-width: 500px;
    box-sizing: content-box;
    overflow-x: hidden;
    align-items: center;
    background-color: var(--gris-light);
}
.F-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.F-button input{
    width: 300px;
}
/** singlephoto*/
.p1viewEtTxte{
    display: flex;
}
.zoneDétails{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.detailPhoto{
    margin-left: 10%;
    border-bottom: 1px solid;
}
.cadrePhoto{
    display: flex;
    width: 50%;
    justify-content: center;
}
.photoImage{
    box-sizing: content-box;
    max-width: 100%;
    max-height: 95%;
}
.p2interaction-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1440px;
    height: 118px;
    margin-left: 5%;
    border-bottom: 1px solid;
}
.interaction-contact{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.interaction-contact p{
    margin-left: 10%;
}
.interaction-contact button{
    width: 35%;
}
.zone-fleche-preview{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: end;
    width: 50%;
}
.zone-fleche{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 20%;
}
.div-vignettes{
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    max-width: 20%;
}

.conteneur-vignette-precedent, .conteneur-vignette-suivant{
    display: flex;
    box-sizing: content-box;
    max-width: 40%;
    padding: 2%;
    justify-content: center;
    align-items: center;
    
}
.conteneur-vignette-precedent img, .conteneur-vignette-suivant img{
    max-width: 100%;
}
.p3PostsEnRapport{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    
}
.p3PostsEnRapport h3{
    margin-left: 8%;
}
.p3presente{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.p3autrepost{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.autres-photos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 40%;
    width: 560px;
    height: 600px;
}
.autres-photos figure{
    position: relative;
    width: 550px;
    height: 550px;
    overflow: hidden;
}
.autres-photos figure img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: none; /* Empêche ajustement au conteneur */
    max-height: none;
}
.butOtrFoto{
    width: 100%;
    padding: 0;
    margin-bottom: 15%;
}

/*********** Lightbox ***********/

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 666;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    animation: lightbox-opacite 0.5s ease-in-out;
}

.lightbox-fermeture {
    width: 100%;
    height:20px;
}

.lightbox-fermeture i {
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer;
    transform: scale(2);
    opacity: 0.8;
}

.lightbox-fermeture i:hover {
    opacity: 1;
    transition: opacity 0.3s;
}

.lightbox-affichage {
    width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.lightbox-affichage::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.lightbox-affichage img {
    animation: lightbox-opacite 0.8s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.lightbox-fleches {
    width: 100%;
    font-family: 'SpaceMono', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.precedente, .suivante {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 667;
}

.suivante {
    padding-right: 20px;
}

.precedente {
    padding-left: 20px;
}

.lightbox-precedente, .lightbox-suivante {
    cursor: pointer;
    opacity: 0.8;
}

.lightbox-precedente:hover, .lightbox-suivante:hover {
    font-weight: 800;
    transition: 0.3s;
    opacity: 1;
}

.precedente i, .suivante i {
    transform: scale(1.7);
    cursor: pointer;
    opacity: 0.8;
}

.precedente i:hover, .suivante i:hover {
    transform: scale(2);
    transition: 0.3s;
    opacity: 1;
}

.informations-photo {
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    gap: 480px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
}

.reference-photo {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.categorie-photo {
    font-family: 'SpaceMono', sans-serif;
    font-weight: 400;
}

@keyframes lightbox-opacite {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*********** Overlay lors du survol de la photo ***********/

.lien-photo {
    display: none;
}

.zone-les-photos .autres-photos, .zone-photos .autres-photos {
    position: relative;
}

.zone-les-photos .survol-photo, .zone-photos .survol-photo {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 98.5%;
    z-index: 65;
    justify-content: center;
    align-items: center;
}

.zone-les-photos .structuration-survol-photo, .zone-photos .structuration-survol-photo {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
}

.zone-les-photos .haut-survol, .zone-photos .haut-survol {
    transform: scale(1.6);
    position: absolute;
    top: 5%;
    left: 90%;
}

.zone-les-photos .haut-survol i, .zone-photos .haut-survol i {
    background-color: #000;
    padding: 6px;
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
}

.zone-les-photos .milieu-survol, .zone-photos .milieu-survol {
    transform: scale(2.4);
    position: absolute;
    top: 50%;
    left: 50%;
}

.zone-les-photos .milieu-survol i, .zone-photos .milieu-survol i {
    cursor: pointer;
    opacity: 0.8;
}

.zone-les-photos .bas-survol, .zone-photos .bas-survol {
    display: flex;
    gap: 195%;
    transform: scale(1.5);
    position: absolute;
    bottom: 1%;
    left: 10%;
    opacity: 0.8;
}
.zone-les-photos .bas-survol .ref_photo, .zone-les-photos .bas-survol .list_cate,
.zone-photos .bas-survol .ref_photo, .zone-photos .bas-survol .list_cate{
    color: var(--gris-light) ;
}
.survol-reference {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.survol-categorie {
    font-family: 'SpaceMono', sans-serif;
    font-weight: 400;
    font-style: normal;
}
/** home**/
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    margin: 0;
}
.hero{
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0;
}
.hero h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    -webkit-text-stroke-width: 2px; /* Largeur du contour */
    -webkit-text-stroke-color: white; /* Couleur du contour */ 
    margin: 0;
    z-index: 2;
}
.cadre_affiche_foto_alea{
    position: relative;
    justify-content: center;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.cadre_affiche_foto_alea figure{
    margin: 0;
    width: 100%;
    
}
.cadre_affiche_foto_alea figure img{
    width: 100%;
    max-width: 1440Px;
}
.bloc-les-photos{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.affichage-des-photos{
    display: flex;
    flex-direction: column;
}

.zone-les-photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.bouton-accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#charger-plus{
    width: 20%;
    padding: 1%;
    margin: 2%;
}
/* Filtres */

.filtres {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 5% 0 3% 0;
    gap: 14%;
}
.bloc-filtre{
    width: 6%;
}
#filtre-tri {
    padding-left: 22%;
}

.menu-deroulant {
    width: 200%;
    height: 100%;
    border: 1px solid #B8BBC2;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
}

.menu-titre {
    padding-left: 10px;
}

.cache {
    display: none;
}

.menu-fleche {
    padding-right: 10px;
    cursor: pointer;
}

.apparition {
    animation: fade-in-top-filtres 0.5s ease-in-out;
}

.rotation {
    transform: rotate(180deg) translateX(10px);
    transition: transform 0.5s ease-in-out;
}

.menu-ouvert {
    border: 1.3px solid #215AFF
}

.menu-options {
    display: none;
    position: absolute;
    flex-direction: column;
    width: 11%;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    justify-content: flex-start;
    align-items: center;
    z-index: 75;
    margin-left: 1%;
}

.menu-option {
    height: 45px;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.vide {
    height: 45px;
    cursor: pointer;
}

.dernier {
    border-radius: 0 0 8px 8px;
}

.menu-option:hover {
    background-color: #FFD6D6;
}

.menu-option:active {
    background-color: #FE5858;
}

.menu-option:focus {
    background-color: #E00000
;
}

.menu-option.selectionne {
    background-color: #E00000;
    color: #fff;
}

.menu-option.dernier-selectionne {
    background-color: #E00000;
    color: #fff;
    border-radius: 0 0 8px 8px;
}


.burger-open{
    display: none;
}
